body{
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 200px;
    gap: 100px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}